<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог Елизовской МЦБС</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
<div id="form" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Запрос</h5>
        </div>
        <form>
            <div class="form-group row">
                <label for="author" class="col-sm-3 col-form-label" style="padding-left:2em">Автор</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="" v-model="author"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-sm-3 col-form-label" style="padding-left: 2em">Наименование</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="" v-model="title"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="isbn" class="col-sm-3 col-form-label" style="padding-left: 2em">ISBN</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="" v-model="isbn"/>
                </div>
            </div>
        </form>
        <div class="card-footer text-right">
            <a href="#" class="btn btn-primary" @click="find">Найти</a>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item" v-for="item in queryResult">
            {{item.body}}
        </li>
    </ul>

</div>

<script type="text/javascript" src="main.js"></script>

</body>
</html>
